/* GLOBAL STYLES */
body {
  background: #fff;
  display: flex;
  justify-content: left;
  margin: 80px;
  font-family: 'Poppins', sans-serif;
}

.name {
  color: #0d47a1;
  font-size: 72px;
  font-weight: 800;
  width: fit-content;
  animation: 0.5s ease 0s normal forwards fadeIn;
}

.subtitle {
  font-size: 18px;
  color: #4f7526;
}

.fade-in-subtitle {
  animation: 1s ease 0s normal forwards fadeIn;
}
.content {
  width: 50%;
  font-size: 16px;
  margin-top: 32px;
}

.resumeRow {
  display: flex;
  margin-top: 48px;
}

.resumeLink {
  width: 200px;
  border: 1px solid #6b9b37;
  margin-right: 32px;
  padding: 20px;
  text-align: center;
  color: #0d47a1;
  font-size: 16px;
  font-weight: 500;
}

.resumeLink:hover {
  background-color: rgba(156, 204, 101, 0.4);
}

a {
  text-decoration: none;
}

.fade-in {
  animation: 2s ease 0s normal forwards fadeIn;
}
@keyframes fadeIn {
  0% {opacity:0;}
  65% {opacity: 0}
  100% {opacity:1;}
}

@media screen and (min-width: 1850px) {
  .name {
    font-size: 90px;
  }

  .subtitle {
    font-size: 24px;
  }

  .content {
    font-size: 20px;
  }

  .resumeLink {
    font-size: 20px;
  }
}